# Operasi pada List,Set dan String

# len()
The difference between list and set is that set displays unique only while list displays all data
* Previously we already know that slicing is used for sequences.
* len() which will calculate the length or number of elements of the List (for String to count the number of characters).

Len() on list

In [1]:
a = [3,5,5,7,7,7]
print(a)

[3, 5, 5, 7, 7, 7]

In [2]:
len (a)

6

Len() on Set

In [3]:
b = {3,5,5,7,7,7}
print(b)

{3, 5, 7}

In [4]:
len(b)

3

len() on string

In [5]:
c = "Valent Aderiandra"

In [6]:
print(c)

Valent Aderiandra

In [7]:
len(c)

17

# min() and max()
The min() and max() functions are ways to find some minimum and maximum values from a list.

MIN() and MAX() cannot be concatenated together between string and number

In [11]:
a = [3,5,5,7,7,7]

In [12]:
min(a)

3

In [13]:
max(a)

7

# Count()
The count() function is used to find out how many times an object appears in the list.

In [14]:
a = [3,5,5,7,7,7]
a.count(7)

3

In [15]:
c = "Data Science"
c.count("a")

2

# Task 1

In [16]:
teststring = "valent aderiandra"

In [17]:
min(teststring)

' '

In [18]:
max(teststring)

'v'

In [19]:
teststring.count("a")

4

# Merging and Replication
The list also allows for merging(+) and replication (*)

In [20]:
a = [3,5,5,7,7,7]
d = ["d","a","t","a"]

In [21]:
a+d

[3, 5, 5, 7, 7, 7, 'd', 'a', 't', 'a']

In [22]:
d*2

['d', 'a', 't', 'a', 'd', 'a', 't', 'a']

You can also use the multiplier function to initialize List

In [1]:
three = [3]*4

In [2]:
print(three)

[3, 3, 3, 3]

In [3]:
len(three)

4

# Task 2

In [32]:
a = "Valent "
b = "Aderiandra"

In [33]:
a+b

'Valent Aderiandra'

In [34]:
a*2

'Valent Valent '

In [4]:
exponent = [2**4]*4

In [5]:
exponent

[16, 16, 16, 16]

# Range

* The range() function gives a series of numbers with a certain pattern
* To perform loops (eg for) in accessing list elements, you can use the range() function in python
* More details on loop operations will be discussed in the Loop and Loop Control module

The range function can have 1-3 parameters

Range with 1 parameter : create a series of numbers starting from 0, as many as n numbers

In [39]:
for i in range(3):
	print(i)

0
1
2

* Range with 2 parameters n,p: create a series of numbers starting from n, until before p (number p does not follow).
* Often referred to as inclusive n (series start with n) and exclusive p (series do not include p)

In [40]:
for i in range(0,3):
	print(i)

0
1
2

Range with 3 parameters n, p, q: creates a series of numbers starting from n, until before p (the number p does not follow), with each element having a difference of q.

In [41]:
for i in range(0,10,2):
	print(i)

0
2
4
6
8

# Task 3

In [42]:
# Show numbers 0 to 10
for i in range(11):
    print (i)

0
1
2
3
4
5
6
7
8
9
10

In [43]:
# Show numbers 1 to 10
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [47]:
# Show numbers tens to 100
for i in range(10,101,10):
    print (i)

10
20
30
40
50
60
70
80
90
100

# In and Not In
* Operators in and not in : To find out a value or object is in the list.
* This function will return a boolean value True or False

In [50]:
us = "me and you"

In [51]:
"me" in us

True

In [52]:
"you" in us

False

In [53]:
"you" not in us

False

# Task 4

In [57]:
myname = "valent aderiandra"

In [58]:
"valent" in myname

True

In [59]:
"aderiandra" in myname

True

In [60]:
" "in myname

True

In [63]:
"len" in myname

True

In [64]:
"Rafael" in myname

False

In [65]:
"valent" not in myname

False

Assign values to multiple variables

In [6]:
food = ("Sambal","Sambal shrimp paste","Spicy") 
print(food)

('Sambal', 'Sambal shrimp paste', 'Spicy')

In [7]:
name = food[0]
print(name)

Sambal

In [8]:
type = food[1]
print(type)

Sambal shrimp paste

In [9]:
taste=food[2]
print(taste)

Spicy

* Python has a more practical way.
* We can assign values to multiple variables at once from List or Tuple elements without needing to mark one by one.

In [78]:
drink = ["Juice","Avocado Juice","Sweet"]

In [79]:
name, type, taste = drink

In [80]:
name

'Jus'

In [81]:
type

'Jus alpukat'

In [82]:
taste

'Manis'

Of course, the number of variables and the number of items in the List/Tuple must be the same. Otherwise, Python will give a ValueError

drink = ["Juice","Avocado Juice","Sweet"]

In [10]:
name, type, taste, price = drink

NameError: name 'drink' is not defined

You can use assignment to multi-variables to swap the values of two or more variables

In [1]:
name, gender = "Valent Aderiandra","male"

In [2]:
name,gender = gender, name

In [3]:
name

'male'

In [4]:
gender

'Valent Aderiandra'

# Sort()
* sort() method: sort numbers or letters
* This sort() method can sort List

In [1]:
value = [10,100,29,84,54]

In [2]:
value.sort()
print(value)

[10, 29, 54, 84, 100]

In [3]:
name = ["Valent","aderiandra","yasminaz"]
name.sort()
print(name)

['Valent', 'aderiandra', 'yasminaz']

We can also enter the keyword reverse = True in the parameter to make the order reverse.

In [8]:
Myname = ["v","a","l","e","n","t"]

In [9]:
Myname.sort()
print(Myname)

['a', 'e', 'l', 'n', 't', 'v']

In [12]:
Myname.sort(reverse=True)
print(Myname)

['v', 't', 'n', 'l', 'e', 'a']

* We can enter the keyword str.lower in the parameter
* This will make the sort method assume all objects are lowercase, without changing the original state of the object

In [15]:
Mygroup = ["Valent","agung","Reno"]

In [17]:
Mygroup.sort(key=str.lower)
print (Mygroup)

['agung', 'Reno', 'Valent']

In [18]:
Mygroup.sort(key=str.upper)
print (Mygroup)

['agung', 'Reno', 'Valent']