# For
* For is a function that can iterate on each type of variable in the form of a collection or sequence
* The variable in question can be a list, string or range
* If a list or sequence contains an expression, it will be evaluated first
* Then the first item in the sequence/list will be designed as iterating_var . variable
* After that, the statement block will be executed, continue to the next item, iterates until the entire sequence runs out.

In [2]:
for i in 'data':
    print("letter {}".format(i))

letter d
letter a
letter t
letter a

In [4]:
colour = ['red','yellow','green']

for i in colour :
	print(format(i),"colour ")

red colour
yellow colour
green colour

In [5]:
for i in range (3):
	print(i)

0
1
2

In [6]:
for i in range (1,4):
	print(i)

1
2
3

# Task 1

In [7]:
programinglanguage = ['python','sql','java','html','css','javascript','r']

for i in programinglanguage :
	print ("Programing Language",i)

Programing Language python
Programing Language sql
Programing Language java
Programing Language html
Programing Language css
Programing Language javascript
Programing Language r

In [11]:
for i in "Valent Aderianda is 20 years old" :
	print(f"huruf {i}")

huruf V
huruf a
huruf l
huruf e
huruf n
huruf t
huruf
huruf A
huruf d
huruf e
huruf r
huruf i
huruf a
huruf n
huruf d
huruf a
huruf
huruf i
huruf s
huruf
huruf 2
huruf 0
huruf
huruf y
huruf e
huruf a
huruf r
huruf s
huruf
huruf o
huruf l
huruf d

In [12]:
for i in range(2,11,2) :
    print (i)

2
4
6
8
10

# For Multilevel :

In [34]:
for row in range(3):
	for col in range (3) :
		if row == 0 and col <= 2 :
			print ("*",end = " ")
		elif row == 1 and col <= 1 :
			print("*",end = " ")
		elif row == 2 and col == 0 :
			print ("*",end = " ")
	print ()

* * *
* *
*

In [38]:
for row in range(4):
	for col in range (4) :
		if row == 0 and col <= 3 :
			print ("*",end = " ")
		elif row == 1 and col <= 2 :
			print("*",end = " ")
		elif row == 2 and col <=1 :
			print ("*",end = " ")
		elif row == 3 and col ==0 :
			print ("*",end = " ")
	print ()

* * * *
* * *
* *
*

In [48]:
for i in range (1,6):
	for j in range(i,6): #for spacing
		print(end=" ")
	for x in range (0,i): # for star output
		print("*",end=" ")
	print()

     *
    * *
   * * *
  * * * *
 * * * * *

# Write Letters in Python
Trying to display letters using the asterisk (*) symbol in python

In [58]:
#Display Letter V

i=0
j=6

for row in range (4) :
	for col in range (7) : 
		if row==col :
			print("*",end="")
		elif row==i and col==j:
			print("*",end="") 
			i = i+1
			j = j-1
		else : 
			print(end=" ")
	print()

    
for row in range (6) :
	for col in range (19,24) : 
		if col == 6 or (row==24 and col>6) :
			print("*",end="")
	print()

*     *
 *   *
  * *
   *

In [1]:
# Display the letter L
for row in range (7) :
	for col in range (5) : 
		if col == 0 or (row==6 and col>0) :
			print("*",end="")
	print()

*
*
*
*
*
*
*****

# Else after For

The else function after for is a function that takes precedence over search loops - to provide a program exit when the search is not found.

In [5]:
# Displays even numbers 1 to 6
for i in range (1,7):
    if i % 2 == 0 :
        print("{} is even".format(i))
    else :
        print("{} is odd".format(i))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even